body {background-color: gray;}
h1,h2,h3 {color:silver; text-decoration: underline; }
img{border-radius: 30%; height: 190px; top: 40px;}
hr{width: 25%; border : 2px outset #ffc;;}
#name{position: absolute; left: 170px; top: 35px; 
text-decoration: underline;
color:white; font-family: helvetica;}
.Des{font-size: 0em;}
#call{color:gold;}
#me{padding:70%;}
